body {
    background-color: #f3f3f3;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
}

form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input[type="submit"] {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
